body {
  background-color: #f4f4f4;
}

h4 {
  margin: 0;
}

.wrapper{
  padding: 10px 30px;
  background-color: #fff;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.navbar-default {
  background-color: #000;
  color: #fff;
  border: 0;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #fff;
  border: 0;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a:hover {
   color: #f40612;
}

.green {
  color: #299a0b;
}

.red {
  color: #ff1a00;
}

.blue-link, .blue-link:hover {
  color: #31B0D5;
  cursor: pointer;
  text-decoration: none;
}

.blue-link:hover {
  color: #337ab7;
}

.gray-link {
  color: #000;
  text-decoration: none;
}

.gray-link:hover  {
  color: #666;
  cursor: pointer;
  text-decoration: none;
}

.vote-total {
  margin: 0 2px;
}

.item-image {
  width: 150px;
  height: 150px;
}

.fa-reddit-alien {
  color: #f40612;
}

.item-description {
  margin: 5px 0;
  color: #999;
}

.form-head {
  color: #000;
}

.form-item {
  padding: 10px;
  margin: 0;
}

.ng-invalid.ng-touched {
  border: 1px solid red;
  background-color: pink;
}

.comments {
  padding-top: 5px;
}

.comment, .comment-form {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  max-width: 400px;
}

.comment-text {
  font-size: 12px;
}

.add-btn {
  margin-top: 5px;
}
